.user-div {
  height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.user-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem;
    margin-right: 1rem;
    box-sizing: border-box;
  }

.nousers-p{
  color:black;
}
  
  @media (max-width: 768px) {
    .user-list {
      width: 100%;
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }