.user-div {
  height: 85%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.user-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem;
    margin-right: 1rem;
    box-sizing: border-box;
  }

.nousers-p{
  color:#d1e0db;
}

.user-div::-webkit-scrollbar {
  width: 15px;
  border-radius: 20px;
  background-color: #e4e4e6;
}

.user-div::-webkit-scrollbar-track {
  border-radius: 20px;
}

.user-div::-webkit-scrollbar-thumb {
  background-color: #c5c5c5;
  border-radius: 20px;
}
  
  @media (max-width: 768px) {
    .user-list {
      width: 100%;
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }