.user-list-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
    margin-top:3px;
}

.button-choice-accept{
    color: white;
}

.button-choice-deny{
    color: white;
}

