.auth-page__logo {
    width: 90%;
    margin: auto;
    text-align: center;
    padding-bottom: 7px;
    border-bottom: 2px solid white;
  }
  
  .auth-page__logo p {
    font-size: 40px;
    width: 30%;
    margin: 2rem auto;
  }
  .auth-page__logo p:hover {
    cursor: pointer;
  }
  
  .auth-page__logo span:hover {
    cursor: pointer;
    color: white;
  }
  
  .auth-page__logo span {
    color: rgb(198, 174, 245);
  }
  
  .auth-page__logo a {
    text-decoration: none;
    color: white;
  }