.user-list-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-height: 150px;
    margin-bottom: 1rem;
    border-bottom: 1px solid #b8b5b5;
  }

.body-text{
  color:rgb(49, 48, 48);
}