* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #564f6f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-gray-100: #f4f3f1;
  --color-gray-200: #dddbd8;
  --color-gray-300: #ccc9c6;
  --color-gray-400: #aeaba7;
  --color-gray-500: #8a8784;
  --color-gray-600: #656360;
  --color-gray-700: #4b4a47;
  --color-gray-800: #31302e;
  --color-gray-900: #1f1d1b;

  --color-primary-100: #f7e1fc;
  --color-primary-200: #edcdfc;
  --color-primary-300: #d8affa;
  --color-primary-400: rgb(214, 151, 251);
  --color-primary-500: #d57cff;
  --color-primary-600: #f962ec;
  --color-primary-700: #ad4dfb;
  --color-primary-800: #b133fa;
  --color-primary-900: #b11bf6;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.auth-page__form {
  max-width: 30rem;
  margin-inline: auto;
}

.account-details {
  width: 90%;
  max-width: 70rem;
  margin: auto;
}

.account-root {
  text-align: center;
}


