.header {
  z-index: 1;
  background-color: rgb(250, 250, 250);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1.95px 2.6px;
  display: flex;
  flex-direction: row;
  color: #3c8884;
}

.navbar {
  width: 60%;
  max-width: 60rem;
  margin-inline: auto;
  padding-inline: 2rem;
  display: flex;
  justify-content: space-between;
  /* background-color: rgb(247, 244, 246); */
  background-color: rgb(250, 250, 250);
}

.logo-wrapper{
  width: 160px;
  padding-left: 20px;
  padding-top: 10px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  display: flex;
  gap: 5px;
}

.header-item {
  padding: 0 10px;
  height: 60px;
  min-height: 60px;
  display: flex;
  align-items: center;
  background-color: rgb(250, 250, 250);
}

.right-block li :hover,
.list li :hover {
  background-color: rgb(247, 245, 255);
}

.header-item :hover {
  background-color: rgb(247, 245, 255);
}

.active-item {
  padding: 0 10px;
  height: 60px;
  min-height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 3px solid #2e5250;
}
.right-block a,
.list a {
  text-decoration: none;
  color: black;
}

.icon {
  margin-right: 10px;
}

.active-item .icon {
  color: #2e5250;
}

.right-block a.active,
.list a.active {
  color: #2e5250;
}

.logout {
  background-color: transparent;
  font-size: 13px;
  color: black;
}

.right-block {
  display: flex;
  flex-direction: row;
}
