.ticket {
    width: 97%;
    border-radius: 10px;
    text-align: center;
    z-index: 12;
    position: relative;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.301);
    color: rgb(216, 230, 221);
}

.confirmed-ticket {
    background-color:#27557d;
}

.requested-ticket {
    background-color:#4682B4;
}

.outdated-ticket {
    background-color:rgb(185, 185, 185);
    color : rgb(135, 135, 135)
}   

.enabled-ticket {
    background-color: #367A6E;
}

.taken-ticket {
    background-color: #27557d;
}

.rejected-ticket {
    background-color: #a74141;
}

.waitlist-ticket {
    background-color: #5e6e9d;
}

.disabled-ticket {
    background-color:#687d8e;
}

/* .confirmed-ticket:hover {
    background-color:rgb(143, 143, 220);
} */

/* .requested-ticket:hover {
    background-color:#4683b4e4;
} */

/* .outdated-ticket:hover {
    background-color:rgb(189, 189, 189);
} */

.enabled-ticket:hover {
    background-color: #367a6dec;
}

.disabled-ticket:hover {
    background-color:#296091da;
}

.quick-actions {
    display: flex;
    width: 48px;
    height: 22px;
}

.action-container {
    margin: auto;
    width: 22px;
    height: 100%;
}

.action-section {
    display: flex;
    justify-content: flex-end;
    height: 20px;

}

.action-section-hidden {
    display: none;
    justify-content: flex-end;
    height: 20px;
}

.flex-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}