.form {
  margin: 2rem auto;
}

.form label,
.form input,
.form textarea {
  display: block;
  width: 100%;
}

.form input,
.form textarea {
  color: black;
  font: inherit;
  padding: 0.25rem;
  background-color: #f3f3f3;
  border: 1px solid #8c8c8c;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.678);
}
.form input {
  height: 2.5rem;
}

.form input:focus {
  outline:1px solid #ad50ff;
}

.controls {
  margin: 1rem;
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.actions button {
  margin-top: 2rem;
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  background-color: #D1A504;
  color: #1c1333;
  border: 1px solid #8c8c8c;
}

.actions button:disabled,
.actions button:disabled:hover,
.actions button:disabled:active {
  background-color: #011f09;
  color: #ffffff;
  border: 1px solid #4d4d4d;
  cursor: not-allowed;
}

.actions button:hover {
  background-color: #d1a504;
}

.mode-suggestion {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.mode-suggestion a {
  color: #D1A504;
  font-weight: bold;
  text-decoration: none;
}

.mode-suggestion a:hover {
  color: #f3f3f3;
}

.mode-suggestion p{
  color: #a7a7a7;
}

.form h1 {
  font: inherit;
  display: flex;
  justify-content: center;
  color: #2e5250;
  font-size: 25px;
}

h1 {
  font: inherit;
  display: flex;
  justify-content: center;
  color: #EBE8F3;
  font-size: 25px;
}

.password-input-block {
  display: flex;
  position: relative;
}

.password-input-block span {
  position: absolute;
  right: 11px;
  top: 7px;
  color: black;
  -webkit-user-select: none;
  user-select: none;
}

.fullname-input-block { 
  display: flex; 
  justify-content: center;
  padding: 0;
  margin: 0;
}



.input{
  margin: 10px 0;
}

.input p{
  background-color: #d5a6ff46;
  margin-bottom: 1rem;
  margin-top: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.input.left {
  margin-right: 10px;
  margin-block: 0;
}

.input.right {
  margin-left: 10px;
  margin-block: 0;
}

.errmsg {
  background-color: rgba(255, 0, 0, 0.10);
  color: rgb(230, 63, 63);
  font-weight: bold;
  padding: 1rem;
  margin-bottom: 0.5rem;
  margin: 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.line {
  display: inline-block;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.hide {
  display: none;
}

.valid {
  color: rgb(108, 214, 108);
  margin-left: 0.25rem;
}

.invalid {
  color: rgb(255, 86, 86);
  margin-left: 0.25rem;
}

