.form-fieldset {
  padding: 2rem;
}

.form-fieldset label,
.form-fieldset input,
.form-fieldset textarea {
  display: block;
  width: 100%;
}

.form-fieldset input,
select {
  text-align: center;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid #8c5bff;
  padding: 15px;
  color: #a0a0a0;
  font-size: 18px;
  text-decoration: none solid #f3f3f3;
  caret-color: transparent;
}

fieldset {
  border: none;
}

.form-fieldset legend {
  text-align: center;
  padding: 10px;
  font-size: 25px;
  margin-bottom: 5px;
}

.fieldset-header {
  margin-bottom: -3rem;
}

.form-fieldset input:focus {
  border-color: #f3f3f3;
  color: #f3f3f3;
  caret-color: #f3f3f3;
}

.form-fieldset label {
  white-space: pre-wrap;
  font-size: 14px;
  color: #c98cff;
  text-decoration: none solid rgb(173, 122, 218);
  letter-spacing: 2px;
  line-break: auto;
}

.form-fieldset label span {
  color: #72518f;
  font-size: 12px;
}

.input {
  margin-bottom: 20px;
  text-align: left;
}

.autoopen {
  display: flex;
  margin-bottom: 45px;
  text-align: left;
}

.input-block {
  margin: auto;
  width: 70%;
}

.focused label {
  color: #f2ddff;
}

.errmsg {
  background-color: rgba(255, 0, 0, 0.1);
  color: rgb(230, 63, 63);
  font-weight: bold;
  padding: 1rem;
  margin-bottom: 0.5rem;
  margin: 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: rgba(255, 0, 0, 0.041);
  color: rgb(255, 0, 0);
  padding: 0.25rem;
  margin: 0;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
  color: rgb(209, 209, 209);
}

.form-fieldset .inputnum {
  width: 4rem;
  text-align: center;
  padding-bottom: 0;
  position: relative;
}

.input-dayahed input{
  color: #f3f3f3;
  width: 4rem;
  padding: 0 0 0 17px;
  margin: 10px 10px;
  display: inline-block;
}

.input-dayahed {
  padding: 0;
  margin: auto;
}


.form-fieldset .inputnum input{
  color: #f3f3f3;
  margin: auto 0px;
  padding: 10px 10px 3px 23px;
  position: absolute;
  bottom: 0px;
}

.invalid-nav-btn {
  padding-inline: 5 0px;
  text-align: center;
  text-align: center;
}

.inputcheck input {
  width: 25px;
  height: 25px;
  padding: 0;
  margin-top: 4px;
}

.autoopen-options {
  margin: 0;
}

.autoopen-options input {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 5px auto -5px;
}

.autoopen-config {
  width: 100%;
  display: flex;
  justify-content: center;
}

.autoopen-config select {
  font-size: 17px;
  color: #f3f3f3;
  padding: 0;
  margin: auto 10px;
}

.autoopen-config select option {
  background: #4c3e6d;
}

.autoopen-config p {
  font-size: 17px;
  color: #f3f3f3;
  margin: 0;
}

.inputcheck {
  padding: 0px 20px 0px 0px;
  margin: 0px;
}

.inline-input-label {
  display: flex;
}

.inline-input-label label {
  margin-right: 15px;
  width: 50%;
}

.inline-input-label-right label {
  margin-right: 15px;
  width: 90%;
}

.openauto {
  display: flex;
}

.fieldset-nav {
  height: 5rem;
  display: flex;
  justify-content: space-between;
}

.fieldset-nav button {
  padding: 0 10px;
  margin: 20px;
  width: 7rem;
}

.left-btn {
  float: left;
}
.left-btn button {
  text-align: center;
}

.right-btn {
  padding: 0px 0px 0px 20px;
  text-align: center;
  margin-left: auto;
}

.remove-button {
  display: none;
}

@media (max-width: 650px) {
  .input-block {
    width: 100%;
  }

  .form-fieldset {
    padding: 0;
  }

  .autoopen-config {
    display: block;
    text-align: center;
  }

  .input-dayahed input{
    padding: 0;
  }

  .form-fieldset .inputnum input{
    padding: 0;
  }
}
