html,
body {
  height: 300vh;
}

.container {
  background-color: #1c1333;
  height: 100%;
  width: 100%;
  place-items: center;
}

.header {
  padding-top: 10px;
}

.form-fieldset legend {
  text-align: center;
  padding: 10px;
  font-size: 25px;
  margin-bottom: 50px;
}

.fieldset-header {
  margin-bottom: -3rem;
}

.fieldset-nav {
  height: 5rem;
  display: flex;
  justify-content: space-between;
}

.fieldset-nav button {
  padding: 0 10px;
  margin: 20px;
  width: 7rem;
}

.left-btn {
  float: left;
}

.left-btn button {
  text-align: center;
}

.right-btn {
  padding: 0px 0px 0px 20px;
  text-align: center;
}

.week {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  gap: 20px;
}

#days-text {
  color: #f3f3f3;
}

.day input {
  border-bottom: 1px dotted #8c5bff;
  padding: 9px 0;
  color: #f3f3f3;
}

.week button,
button {
  background-color: #a977d6;
  width: 100%;
  height: 40px;
  text-align: center;
  border-radius: 4px;
  border: none;
  overflow: hidden;
  color: #1c1333;
  font-weight: bold;
}

button:hover {
  background-color: #bb93dd;
  cursor: pointer;
}

.day label {
  color: #f3f3f3;
  margin-top: 20px;
}

.number-input {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  padding-bottom: 5%;
  font-size: 18px;
  padding-top: 40px;
}

.number-input label {
  width: auto;
}

.number-input input {
  padding: 9px 0;
  border: 0;
  outline: 0;
  background: transparent;
  text-align: center;
  border-bottom: 2px solid #8c5bff;
  color: #f3f3f3;
  right: 30px;
  font-size: 16px;
}

.disabled-button {
  background-color: #8d8b92;
}

.disabled-button:hover {
  background-color: #8d8b92;
}

@media (max-width: 1000px) {
  .week {
    display: block;
    text-align: center;
  }

  .day {
    margin: 10px;
  }
}

input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(99%) sepia(0%) saturate(23%) hue-rotate(75deg) brightness(113%)
    contrast(91%);
}

.inputcheck {
  padding: 0px 20px 0px 0px;
  margin: 0px;
}

.inputcheck input {
  width: 25px;
  height: 25px;
  padding: 0;
  margin-top: 4px;
}

.inline-input-label {
  display: flex;
  float: right;
}

.inline-input-label label {
  margin-right: 15px;
  width: 70%;
}

.inline-input-label-right label {
  margin-right: 15px;
  width: 90%;
}
