.ticket-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 200px !important;
    margin: 0;
    animation: new-item-animation .4s linear forwards;
  }

  .ticket-list-item{
    width: 45%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 50px;
    padding: 0;
  }

  .without-tickets{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: #1C1333;
    margin-bottom: 400px;
  }

  @media only screen and (max-width: 1200px) {
    .ticket-list {
      padding: 0 !important;
    }

  }

  @media only screen and (min-width: 0) {
    .ticket-list {
      width: 100%;
      margin: auto;
      padding: 0;
    }

    .ticket-list-item {
      display: flex;
      width: 220px;
      margin: 20px;
    }

  }


@keyframes new-item-animation {
  from {
      opacity: 0;
      transform: translateY(-20px);
}

  to {
      opacity: 1;
      transform : translateY(0);
  }
}